/* Variables & Fonts Classes & Initial Things */
:root {
    --white: #DFF8EB;
    --charcoal: #364156;
    --blue: #011638;
    --green: #214E34;
    --black: #0D0C1D;
    --light-green: #64ffda;
    --dark-green: #01958e;
    --lightest-navy: #233554;
    --gray: #1a1a1a;
}
* {
    box-sizing: border-box;
    color: var(--blue);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #efefef;
    overflow-x: hidden;
}
.mono, .mono-light, .mono-med, .mono-bold {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.mono-light {
    font-weight: 300;
}
.mono-med {
    font-weight: 400;
}
.mono-bold {
    font-weight: 600;
}
.sans, .sans-extra-light, .sans-light, .sans-semibold, .sans-bold, .sans-extra-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.sans-extra-light {
    font-weight: 200;
}
.sans-light {
    font-weight: 300;
}
.sans-semibold {
    font-weight: 600;
}
.sans-bold {
    font-weight: 700;
}
.sans-extra-bold {
    font-weight: 800;
}
.dark-green {
    color: var(--dark-green);
}
.center {
    text-align: center;
}
.display-none {
    display: none;
}
#loading {
    background: url('../gif/white.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
/* Header */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    font-size: 0.75em;
    width: 100%;
    z-index: 11;
    padding: 20px;
    margin-left: 15px;
    align-items: center;
}
header span.header-logo img {
    height: 3.5em;
    border-radius: 15px;
}
ul.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
ul.nav-links li {
    /* font-size: 0.75em; */
    margin-left: 2em;
}
ul.nav-links li a {
    text-decoration: none;
    transition: .3s ease;
}
ul.nav-links li a:hover {
    cursor: pointer;
    color: var(--dark-green);
}
span#nav-mobile label i {
    transition: .3s ease;
}
#nav-mobile {
    display: none;
    text-align: right;
}
#nav-mobile label i {
    font-size: 2.5em;
}
header span#change-theme i {
    font-size: 2em;
}
/* Sections */
section {
    padding: 20px;
    /* font-size: 1.3em; */
}
/* Who Are You */
div#who-are-you p:last-child {
    margin: 0.8em 0;
}
/* ul.timeline {
    list-style-type: none;
    border-left: 2px solid #e3e3e3;
    padding: 8em 0 8em 0;
    margin-left: 2em;
}
ul.timeline li.timeline-item {
    margin-left: -1.2em;
}
ul.timeline li.timeline-item button {
    background-color: #d9d5d5;
    padding: 10px;
    border: none;
    border-radius: 20px;
} */
div#who-are-you, div#reach-out {
    line-height: 1.6;
}
div#who-are-you, div#whats-your-experience, div#how-good-are-you, div#introduce-myself {
    margin: 15px;
} 
div#who-are-you p {
    margin-bottom: 1.5em;
}
div#who-are-you svg {
    transition: 0.6s ease;
}
div#who-are-you svg:hover {
    transform: scale(1.1);
}
/* What is your experience */
div#timeline {
    display: flex;
}
div#timeline ul#timeline-subjects {
    list-style-type: none;
}
div#timeline ul#timeline-subjects li.timeline-items {
    position: relative;
    color: var(--white) !important;
    background-color: var(--black);
    padding: 15px;
}
div#timeline ul#timeline-subjects li.timeline-items:hover {
    background-color: var(--blue);
    cursor: pointer;
}
div#timeline ul#timeline-subjects li.timeline-items::before {
    display: block;
    position: absolute;
    content: '';
    padding: 3.15em 0.25em 0 0;
    background-color: var(--lightest-navy);
    left: 0px;
    top: 0px;
    transition: .5s ease;
}
div#timeline ul#timeline-subjects li.timeline-items:hover::before {
    background-color: var(--dark-green);
}
div#timeline span#experience {
    margin-left: 4em;
}
ul.achievements li::marker {
    color: var(--dark-green)
}
ul.achievements li {
    font-size: 0.8em;
    text-align: left;
}
/* How Good Are You */
div#how-good-are-you div.project-container {
    display: flex;
    /* margin: 0 0 2em 2em; */
}
div#how-good-are-you div.project-container div.project-details {
    margin-left: 2em;
}
div#how-good-are-you div.project-container img {
    border-radius: 10px;
    transition: all .4s ease;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    aspect-ratio: 4 / 3; /* Ensures the aspect ratio is maintained */
    margin-left: 0.6em;
}
div#how-good-are-you div.project-container img:hover {
    transform: scale(1.1);
}
div#how-good-are-you div.project-container.left {
    margin: 0;
    justify-content: space-between;
}
div.project-container div.project-details div.project-technologies {
    font-size: 1.6em;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin: 2em 0 2em 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    header, section, footer {
        width: 100% !important;
    }
    .center {
        text-align: left;
    }
    div#how-good-are-you div.project-container {
        display: block;
    }
    div#how-good-are-you div.project-container {
        margin: 0;
    }
    header, header ul.nav-links li {
        display: block;
    }
    ul.nav-links {
        margin-top: 1em;
        display: none;
    }
    ul.nav-links li {
        margin: 0;
        margin-bottom: 0.5em;
    }
    #nav-mobile {
        display: inline-block;
        /* text-align: right; */
        float: right;
    }
    div#whats-your-experience div#timeline {
        display: block;
    }
    div#how-good-are-you div.project-container div.project-details, div#how-good-are-you, div#how-good-are-you div.project-container img {
        margin-left: 0;
    }
    div#how-good-are-you div.project-container img {
        width: 100%;
        margin-bottom: 0.6em;
    }
    div#how-good-are-you div.project-container div.project-details h3 {
        font-size: 1.6em
    }
    div#how-good-are-you div.project-container div.project-details div.project-technologies {
        font-size: 2.5em;
    }
    div.project-container div.project-details h3, div.project-container div.project-details div.project-technologies {
        text-align: center;
    }
    span#change-theme {
        display: block;
        text-align: right;
    }
}
